/*common Css*/

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#other-movies a {
    text-decoration: none;
}

#other-movies a:link {
    color: #FF0000;
}

#other-movies a:visited {
    color: #00FF00;
}

#other-movies a:hover {
    color: #FF00FF;
}

#other-movies a:active {
    color: #0000FF;
}

.pointer {
    cursor: pointer;
}


/* CSS for larger screens  */

@media screen and (min-width: 481px) {
    body {
        background-color: #0C090A;
        color: white;
        letter-spacing: .04em;
        line-height: 22px;
        font-size: 17px;
        position: relative;
    }
    h2 {
        position: absolute;
        top: 55px;
        left: 160px;
        font-size: 45px;
        opacity: 70%;
        color: #B6B6B4;
    }
    #main-wrapper {
        margin: 10px auto;
        width: 1100px;
        background-color: #0C090A;
    }
    #banner {
        margin: 30px auto;
        width: 1000px;
        height: 310px;
        overflow: hidden;
        opacity: 95%;
        position: relative;
        left: 18px;
        top: -17px;
    }
    #intro {
        font-size: 16px;
        width: 1000px;
    }
    #latest-movie {
        column-count: 2;
        column-gap: 30px;
        column-rule: 1px solid #726E6D;
        text-align: justify;
        overflow: hidden;
        width: 950px;
        max-height: 192px;
        margin: 20px auto;
        border: 1px solid #726E6D;
        border-radius: 10px;
        /*Set Transitions up*/
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #latest-movie.open {
        max-height: 1100px;
        /*Set Transitions up*/
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8;
        transition: max-height 0.8s;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #latest-movie h3 {
        font-size: 25px;
        padding-left: 400px;
        margin: 12px auto;
        column-span: all
    }
    #latest-movie p {
        padding: 0 13px 0 13px;
    }
    #show-more {
        background-color: #0C090A;
        color: white;
        font-family: calibri;
        display: block;
        width: 130px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin: 0 auto;
        cursor: pointer;
    }
    #show-more:hover {
        background-color: #2C3539;
    }
    nav {
        background: black;
        padding: 2px;
        position: fixed;
        top: 5px;
        left: -30px;
        width: 95%;
        height: 55px;
        margin: 0 15px 0 62px;
        border: 2px solid #736F6E;
        border-radius: 10px;
        z-index: 1;
        opacity: 65%;
    }
    nav ul:after {
        content: "";
        display: block;
        clear: both;
    }
    nav li {
        list-style-type: none;
        margin: 0 10px;
        border: 1px dotted beige;
        border-radius: 3px;
        color: #fff;
        padding: 2px;
        float: right;
    }
    #alphabetical-order {
        list-style-type: none;
        display: flex;
        width: 1000px;
    }
    #other-movies h3 {
        font-size: 1.5em;
        color: #FDD017;
        padding: 0 0 0 40px;
        display: inline;
    }
    #other-movies li {
        column-count: 2;
        column-gap: 30px;
        column-rule: 1px solid #726E6D;
        text-align: justify;
        width: 950px;
        max-height: 1100px;
        list-style-type: none;
        border: 1px solid white;
        border-radius: 10px;
        padding: 25px;
        margin: 14px;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #other-movies li p {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #0C090A;
        color: white;
        letter-spacing: .04em;
        line-height: 21px;
        font-size: 17px;
        position: relative;
    }
    #main-wrapper {
        position: relative;
    }
    img {
        width: 100%;
    }
    /* #main-content {} */
    h2 {
        position: absolute;
        top: 90px;
        font-size: 25px;
        opacity: 80%;
        color: #B6B6B4;
    }
    #intro p {
        text-align: justify;
        padding: 0 10px 0 10px;
        font-size: 1.1em;
    }
    /*FOR knives out*/
    #latest-movie {
        text-align: justify;
        overflow: hidden;
        width: 90%;
        max-height: 250px;
        margin: 10px auto;
        border: 1px solid #726E6D;
        border-radius: 7px;
        /*Set Transitions up*/
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #latest-movie.open {
        max-height: 1460px;
        /*Set Transitions up*/
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8;
        transition: max-height 0.8s;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #latest-movie h3 {
        font-size: 23px;
        padding-left: 150px;
        margin: 12px auto;
        column-span: all
    }
    #latest-movie p {
        padding: 0 13px 0 13px;
        font-size: 0.83em;
    }
    #show-more {
        background-color: #0C090A;
        color: white;
        font-family: calibri;
        /*	font-size: 0.83em;*/
        display: block;
        width: 130px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin: 0 auto;
        cursor: pointer;
    }
    #show-more:hover {
        background-color: #2C3539;
    }
    nav li {
        list-style-type: none;
        text-align: center;
        padding: 5px;
        margin: 2px;
    }
    /*Other Movies*/
    #other-movies li {
        text-align: justify;
        width: 90%;
        max-height: auto;
        list-style-type: none;
        border: 1px solid white;
        border-radius: 10px;
        padding: 15px;
        margin: 0 0 10px 0;
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
    }
    #other-movies h3 {
        font-size: 1.1em;
        color: #FDD017;
        padding: 0 0 0 80px;
        display: inline;
    }
    #other-movies li p {
        font-size: 0.8em;
        display: none;
    }
}